.contactsList {
  list-style: none;
  padding: 15px;
  margin-left: 10px;
  width: 500px;
  border-radius: 10px;
  background-color: rgb(212, 211, 211);
  box-shadow: 5px 4px 5px 6px rgba(5, 2, 0, 0.4);
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  
}

.even {
  composes: listItem;
  background-color: rgb(181, 199, 255);
}

.odd {
  composes: listItem;
  background-color: rgb(255, 211, 211);
}

.deleteButton {
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  outline: none;
  border: 1px solid rgb(250,172,17);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
}

.deleteButton:active,
.deleteButton:hover {
  color: #000000;
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
  
}
